<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/view/loginPage.css">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <p><input type="text" placeholder="Email" name="eMail"></p>
        <p><input type="text" placeholder="Password" name="password"></p>
        <button type="submit">Login</button>
    </form>
    <p><input type="button" value="Back"onClick='location.href="http://localhost:8080"'></p>
</body>
</html>