<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <p><input type="text" placeholder="UserName" name="uName"></p>
        <p><input type="text" placeholder="Email" name="eMail"></p>
        <p><input type="text" placeholder="Password" name="password1"></p>
        <p><input type="text" placeholder="Password" name="password2"></p>
        {{ if eq .Err true }}
        {{ .MSG }}
        {{ end }}
        <div>
            <button type="submit">SignUp</button>
        </div>
    </form>
    <p><input type="submit" value="Back"onClick='location.href="http://localhost:8080"'></p>
</body>
</html>
